[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
passlib = "*"
phonenumbers = "*"
email-validator = "*"
tabulate = "*"
fastapi = "*"
uvicorn = "*"
prefect = "*"
python-decouple = "*"
sqlalchemy-utils = "*"
pyjwt = "*"
pendulum = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.8"

[scripts]
start_api = "python -m app.main"
start_prefect = "prefect server start"
init_database = "bash -c \"source scripts/init_database.sh\""
init_permissions = "python -m scripts.init_permissions"
flow_deploy = "prefect deploy --all"
