[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
sqlalchemy = "*"
configparser = "*"
psycopg2-binary = "*"
alembic = "*"
passlib = "*"
phonenumbers = "*"
email-validator = "*"
tabulate = "*"
fastapi = "*"
prefect = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"

#[scripts]
#start_api = "python app/main.py --reload"
#start_prefect = "prefect server start"
#init_project = ""